# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules/

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
*.xml

# System Files
.DS_Store
Thumbs.db
!/.idea/vcs.xml

# User-specific stuff:
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml

# Sensitive or high-churn files:
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/
/book-tracker-ui/node_modules/
/book-tracker-ui/.angular/
/mongodb-data/diagnostic.data/
/mongodb-data/journal/
/mongodb-data/_mdb_catalog.wt
/mongodb-data/collection-0--9020433812860659109.wt
/mongodb-data/collection-2--9020433812860659109.wt
/mongodb-data/collection-4--9020433812860659109.wt
/mongodb-data/collection-19--3988288091793130745.wt
/mongodb-data/collection-25--3988288091793130745.wt
/mongodb-data/index-1--9020433812860659109.wt
/mongodb-data/index-3--9020433812860659109.wt
/mongodb-data/index-5--9020433812860659109.wt
/mongodb-data/index-6--9020433812860659109.wt
/mongodb-data/index-20--3988288091793130745.wt
/mongodb-data/index-21--3988288091793130745.wt
/mongodb-data/index-23--3988288091793130745.wt
/mongodb-data/index-26--3988288091793130745.wt
/mongodb-data/index-27--3988288091793130745.wt
/mongodb-data/mongod.lock
/mongodb-data/sizeStorer.wt
/mongodb-data/storage.bson
/mongodb-data/WiredTiger
/mongodb-data/WiredTiger.lock
/mongodb-data/WiredTiger.turtle
/mongodb-data/WiredTiger.wt
/mongodb-data/WiredTigerHS.wt
