<div class="navigation">
  <button mat-button class="back-button" matTooltip="Back" (click)="this.goBackToPrevPage()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <h3>Edit Data</h3>
</div>

<form [formGroup]="dataForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="outline" class="formField">
    <mat-label>Enter a new email address</mat-label>
    <input type="email" matInput formControlName="email" [errorStateMatcher]="matcher">
    <mat-error *ngIf="f.email.hasError('email')">
      Please enter a valid email address
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="formField">
    <mat-label>Enter a new username</mat-label>
    <input type="text" matInput formControlName="username" [errorStateMatcher]="matcher">
    <mat-error *ngIf="f.username.hasError('minlength')">
      Username must be at least <strong>4 characters </strong> long
    </mat-error>
    <mat-error *ngIf="f.username.hasError('maxlength')">
      Username must be less than <strong>20 characters </strong> long
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="formField">
    <mat-label>Enter a new password</mat-label>
    <input matInput formControlName="password" [errorStateMatcher]="matcher" [type]="hide ? 'password' : 'text'" minlength="8" placeholder="Password">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="f.password.hasError('minlength')">
      Password must be at least <strong>8 characters </strong> long
    </mat-error>
    <mat-error *ngIf="f.password.hasError('pattern') && !f.password.hasError('minlength')">
      Password must contain letters, numbers, and (optional) special characters
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="formField">
    <mat-label>Enter a new date of birth</mat-label>
    <input matInput formControlName="birthdate" [matDatepicker]="picker" (dateChange)="addEvent($event)" >
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker startView="year" [startAt]="2023"></mat-datepicker>
  </mat-form-field>

  <div class="formField">
    <mat-form-field class="name" appearance="outline">
      <mat-label>First name</mat-label>
      <input matInput formControlName="firstname" placeholder="">
    </mat-form-field>

    <mat-form-field class="name" appearance="outline">
      <mat-label>Last name</mat-label>
      <input matInput formControlName="lastname" placeholder="">
    </mat-form-field>
  </div>

  <mat-form-field class="formField" appearance="outline">
    <mat-label>Select your country</mat-label>
    <mat-select formControlName="country" placeholder="">
      <mat-option *ngFor="let item of listCountries" [value]="item">{{item}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="formField" appearance="outline">
    <mat-label>Select your preferred language</mat-label>
    <mat-select formControlName="prefLang" placeholder="">
      <mat-option *ngFor="let item of listLanguages" [value]="item">{{item}}</mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-flat-button color="primary" class="bt submit" [disabled]="!isValid(dataForm)">SUBMIT</button>
  <button mat-stroked-button color="basic" class="bt cancel" [routerLink]="['../']">Cancel</button>

</form>


