@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~css-star-rating/css/star-rating.min.css';

html, body {
  height: 95vh;
  width: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

