.navigation {
  display: flex;
  justify-content: flex-start;
}

.navigation h3 {
  vertical-align: middle;
  margin-top: 5px;
}

.book-cover {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
  scroll-snap-align: start;
  transition: all 0.2s;
  height: 194px;
  width: 128px;
}

mat-card-title {
  color: #17134a;
  font-size: 28px;
}

mat-card-subtitle {
  font-size: 18px;
}

.main-part {
  text-align: center;
}

.book-details {
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
  height: min-content;
  max-height: 240px;
  overflow-y: auto;
}

.input {
  width: 100%;
}

.btn {
  height: 56px;
  font-size: 16px;
}

@media only screen and (min-width:600px) {
  .add-button {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    width: 500px;
    max-width: 600px;
  }

  .add-button button {
    margin-left: 5px;
    line-height: 1.125;
    height: 56px;
    width: 212px;
  }
}
