<div class="navigation">
  <button mat-button class="back-button" matTooltip="Back" (click)="this.goBackToPrevPage()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <h3>Book Description</h3>
</div>

<div class="main-part">
  <img src="{{this.book.cover}}" alt="Book Cover" class="book-cover">
  <mat-card-title class="book-title">{{this.book.title}}</mat-card-title> <br>
  <mat-card-subtitle class="book-author">{{this.book.author}}</mat-card-subtitle>
</div>

<mat-tab-group>
  <mat-tab label="Synopsis" class="synopsis">
    <div *ngIf="hasDescription(this.book); else no_description">
      <p class="book-details">{{this.book.description}}</p>
    </div>
    <ng-template #no_description>
      <p class="book-details">Unfortunately, this book does not have a description yet!</p>
    </ng-template>
  </mat-tab>
  <mat-tab label="Details">
    <div class="book-details">
      <p>Year: {{this.book.year}}</p>
      <p>Genre: {{this.book.genre}}</p>
      <p>Pages: {{this.book.noofpages}}</p>
      <p>Language: {{this.book.language}}</p>
      <p>ISBN: {{this.book.isbn}}</p>
      <div *ngIf="this.hasLink(this.book)">
        <p>Price: {{this.book.retailPrice}} {{this.book.retailPriceCurrency}}</p>
        <p><a [href]="this.book.buyLink" target="_blank">Follow this link to purchase the book!</a></p>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>

<div class="add-button">
  <button mat-flat-button color="accent" (click)="addBook(this.book)" class="input btn">Add to list</button>
</div>
