:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #17134a;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  background-color: #fef9f4;
}

body {
  background-color: #fef9f4;
}

.title {
  font-family: 'Comfortaa', cursive;
  font-size: 30px;
  color: #161347;
  text-shadow: 3px 1px 0 #f7ce8f;
}

.title.a {
  color: #161347;
}

.content.header {
  font-family: 'Gloock', serif;
  font-size: 58px;
  line-height: 58px;
}

.description span {
  text-shadow: 2px 1px 0 #f7ce8f;
  font-family: 'Comfortaa', cursive;
}

.content.description {
  font-size: 22px;
  line-height: 36px;
  color: #45426e;
}

.spacer {
  flex: 1;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  font-weight: 600;
  background-color: #fef9f4;
}

.toolbar img {
  margin: 0 16px;
  padding-bottom: 8px;
}

.content {
  display: flex;
  margin: 60px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}

.description {
  text-align: center;
}

svg.material-icons {
  height: 24px;
  width: auto;
}

svg.material-icons:not(:last-child) {
  margin-right: 8px;
}

.card.highlight-card {
  color: black;
  font-weight: 600;
  border: none;
  width: auto;
  min-width: 30%;
  position: relative;
}

a,
a:visited {
  color: #161347;
  text-decoration: none;
}

a:hover {
  color: #3831b3;
}

footer {
  display: flex;
  align-items: center;
  line-height: 25px;
  height: 50px;
}

footer a {
  display: flex;
  align-items: center;
}

.github-star-badge {
  color: #24292e;
  display: flex;
  align-items: center;
  font-size: 12px;
  padding: 3px 10px;
  border: 1px solid rgba(27,31,35,.2);
  border-radius: 3px;
  background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
  margin-left: 4px;
  font-weight: 600;
}

.github-star-badge:hover {
  background-image: linear-gradient(-180deg,#f0f3f6,#e6ebf1 90%);
  border-color: rgba(27,31,35,.35);
  background-position: -.5em;
}

.github-star-badge .material-icons {
  height: 16px;
  width: 16px;
  margin-right: 4px;
}

/* Responsive Styles */
@media screen and (max-width: 767px) {
  .content.header {
    font-size: 50px;
  }

  .content.description {
    font-size: 18px;
    line-height: 36px;
    color: #45426e;
  }

  .card-container > *:not(.circle-link) ,
  .terminal {
    width: 100%;
  }

  .card:not(.highlight-card) {
    height: 16px;
    margin: 8px 0;
  }

  .card.highlight-card span {
    margin-left: 72px;
  }

  svg#reading {
    height: min-content;
    max-width: 80%;
  }
}

@media screen and (max-width: 575px) {
  svg#reading {
    height: min-content;
    max-width: 80%;
  }
}
