<mat-toolbar color="primary" class="toolbar">
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Categories" matTooltip="Book Genres">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <div *ngFor="let genre of genres">
      <button mat-menu-item [routerLink]="['genres', genre.link]">
        <span>{{genre.label}}</span>
      </button>
    </div>
  </mat-menu>

  <img
    width="30"
    alt="BookTracker Logo"
    src="logo.ico"/>
  <span><a routerLink="./" class="homelink">Book Tracker</a></span>
  <span class="example-spacer"></span>

  <button mat-button class="example-icon" aria-label="Search" matTooltip="Search" (click)="openDialog()">
    <mat-icon>search</mat-icon>
    Search
  </button>

  <button mat-icon-button class="example-icon" aria-label="Book List" matTooltip="My Book List" routerLink="mylist">
    <mat-icon>list</mat-icon>
  </button>

  <button mat-icon-button [matMenuTriggerFor]="menuSettings" class="example-icon" aria-label="Settings" matTooltip="Settings">
    <mat-icon>settings</mat-icon>
  </button>
  <mat-menu #menuSettings="matMenu">
    <button mat-menu-item routerLink="settings">Account Settings</button>
    <button mat-menu-item (click)="logOut()">Log Out</button>
  </mat-menu>
</mat-toolbar>
