.example-spacer {
  flex: 1 1 auto;
}
.example-form-field {
  height: 50px;
  width: 200px;
}

.toolbar{
  position: relative;
}

a, a:visited {
  color: white;
  text-decoration: none;
}

img {
  margin-right: 10px;
}
