.example-spacer {
  flex: 1 1 auto;
}
.example-form-field {
  height: 50px;
  width: 200px;
}

.homelink {
  font-family: 'Comfortaa', cursive;
  font-size: 24px;
  color: white;
}

.toolbar{
  position: relative;
}

a, a:visited {
  color: white;
  text-decoration: none;
}

img {
  margin-right: 10px;
}

.title {
  font-family: 'Comfortaa', cursive;
  font-size: 28px;
  color: #161347;
  text-shadow: 3px 1px 0 #8a58d0;
}

.title.a {
  color: #161347;
}
