.search-dialog-content {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.search-input {
  flex-grow: 2;
}

.close-button, .search-button {
  line-height: 1.125;
  height: 56px;
  width: 56px;
}
