<div class="header">
  <h2>{{this.genre[0].label}}</h2>
  <p>{{this.dataSource.data.length}} results</p>
</div>

<mat-form-field class="filter-input">
  <input matInput type="text" (keyup)="doFilter($event)" placeholder="Filter results" #input>
</mat-form-field>

<div class="example-loading-shade" *ngIf="isLoadingResults">
  <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
</div>

<table mat-table matSort [dataSource]="dataSource" class="results">
  <ng-container matColumnDef="cover">
    <th mat-header-cell *matHeaderCellDef [ngClass]="'w-65'"> Cover </th>
    <td mat-cell *matCellDef="let element" [ngClass]="'w-65'">
      <img [src]="element.cover" alt="Book Cover" [routerLink]="['../../book', element.isbn]" class="cover"/>
    </td>
  </ng-container>

  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef> Title </th>
    <td mat-cell *matCellDef="let element">
      <mat-card-title class="book-title">
        <a [routerLink]="['../../book', element.isbn]" class="card-link">{{element.title}}</a>
      </mat-card-title><br>
      <mat-card-subtitle class="book-author">{{element.author}}</mat-card-subtitle><br>
      <mat-card-subtitle class="book-pages">{{element.noofpages}} pages</mat-card-subtitle><br>
      <mat-chip-listbox aria-label="Genres">
        <mat-chip-option color="accent">{{element.genre}}</mat-chip-option>
      </mat-chip-listbox>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  <!-- Row shown when there is no matching data. -->
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4" *ngIf="!isLoadingResults">No data matching the filter "{{input.value}}"</td>
  </tr>
</table>

<mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20, 40]"></mat-paginator>
