.mat-typography {
  min-width: 150px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.feedback {
  background-color: lavenderblush;
  color: #c00424;
  font-weight: bold;
  font-size: 14px;
  width: 100%;
  height: 40px;
  padding-top: 18px;
  margin-bottom: 20px;
  white-space: nowrap;
}

.feedback * {
  display: inline;
}

.icon {
  margin-left: 15px;
  margin-right: 15px;
  vertical-align: middle;
}

.btn {
  width: 100%;
}

.login, .register {
  margin-top: 10px;
}

.register {
  margin-bottom: 20px;
}

@media only screen and (max-width:600px) {
  .example-form {
    width: 98%;
    max-width: 100vh;
    margin-right: 5px;
    margin-left: 5px;
  }
}

h3 {
  font-size: 24px;
}
