.header {
  padding-left: 15px;
}

h2 {
  font-size: 30px;
  padding-top: 35px;
}

.keyword {
  font-style: italic;
}

.sort-options {
  display: flex;
  flex-direction: column;
  margin: 0 10px 0 10px;
}

@media screen and (min-width: 767px) {
  .sort-options {
    flex-direction: row;
    margin: 0 10px 0 10px;
    gap: 10px;
  }

  .filter {
    flex-grow: 2;
  }
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

table {
  width: 100%;
}

.element-row {
  position: relative;
}

.element-row:not(.expanded) {
  cursor: pointer;
}

.element-row:not(.expanded):hover {
  background: #f5f5f5;
}

.results {
  border-collapse: separate!important;
  border-spacing:0 10px!important;
}

.book-title {
  color: #161347;
  text-decoration: none;
  font-size: 17px;
  line-height: 18px;
}

.book-author {
  font-size: 16px;
}

img {
  width: 64px;
  height: 97px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
  scroll-snap-align: start;
  transition: all 0.2s;
}

.w-10 {
  width: 10px;
}

.w-65 {
  width: 65px;
}
