<div class="loading">
  <ng-container *ngIf="(asyncRows | async) === null" >
    <mat-spinner></mat-spinner>
  </ng-container>
</div>

<div class="container" *ngFor="let row of asyncRows | async">
  <h2>{{row.title}}</h2>
  <mat-divider></mat-divider>
  <ul class="cards">
    <li class="card" *ngFor="let item of row.content" [style.background-image]="getCoverUrl(item)" [routerLink]="['book', item.isbn]">
      <div class="overlay">
        <mat-card-header></mat-card-header>
        <div class="card-link-wrapper">
          <mat-card-title>{{item.title}}</mat-card-title>
          <mat-card-subtitle>{{getFirstAuthor(item)}}</mat-card-subtitle>
        </div>
      </div>
    </li>
  </ul>
</div>
