:root {
  --red: #ef233c;
  --darkred: #c00424;
  --platinum: #e5e5e5;
  --black: #2b2d42;
  --white: #fff;
  --thumb: #edf2f4;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font: 16px / 24px "Rubik", sans-serif;
  background: whitesmoke;
  margin: 50px 0;
}

.loading {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.container {
  max-width: 1400px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
}

h2 {
  font-size: 28px;
  padding-top: 30px;
  padding-left: 15px;
}

.cards {
  display: flex;
  padding: 25px 0;
  list-style: none;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.card {
  display: flex;
  flex-direction: column;
  flex: 0 0 100%;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
  scroll-snap-align: start;
  transition: all 0.2s;
  background-size: cover;
  height: 300px;
}

.overlay {
  display: flex;
  flex-direction: column;
  flex: 0 0 100%;
  background-size: cover;
  border-radius: 12px;
  height: 300px;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  transform: scale(0);
  transition: all .3s ease-in-out;
  backdrop-filter: blur(8px) brightness(80%);
}

.overlay mat-card-title {
  color: #ef233c;
}

.overlay mat-card-subtitle {
  color: whitesmoke;
  display: block;
}

.card:hover .overlay {
  transform: scale(1);
}

.card:not(:last-child) {
  margin-right: 10px;
}

.card .card-content {
  margin: 20px 0;
  max-width: 85%;
}

.card .card-link-wrapper {
  margin-top: auto;
}

.card .card-link {
  display: inline-block;
  text-decoration: none;
  color: white;
  background: #ef233c;
  padding: 6px 12px;
  border-radius: 8px;
  transition: background 0.2s;
}

.card:hover .card-link {
  background: #c00424;
}

.cards::-webkit-scrollbar {
  height: 12px;
}

.cards::-webkit-scrollbar-thumb,
.cards::-webkit-scrollbar-track {
  border-radius: 92px;
}

.cards::-webkit-scrollbar-thumb {
  background: #c00424;
}

.cards::-webkit-scrollbar-track {
  background: var(--thumb);
}

@media (min-width: 500px) {
  .card {
    flex-basis: calc(50% - 30px);
  }

  .card:not(:last-child) {
    margin-right: 40px;
  }
}

@media (min-width: 700px) {
  .card {
    flex-basis: calc(calc(100% / 3) - 40px);
  }

  .card:not(:last-child) {
    margin-right: 50px;
  }
}

@media (min-width: 1100px) {
  .card {
    flex-basis: calc(20% - 32px);
  }

  .card:not(:last-child) {
    margin-right: 40px;
  }
}

.example-card {
  max-width: 200px;
}
