<div class="container">
  <h2>Selected W. Shakespeare Works</h2>
  <ul class="cards">
    <li class="card" *ngFor="let item of dataSource1">
      <div>
        <h3 class="card-title">{{item.title}}</h3>
        <div class="card-content">
          <p>{{item.description}}</p>
        </div>
      </div>
      <div class="card-link-wrapper">
        <a href="" class="card-link">Learn More</a>
      </div>
    </li>
  </ul>
</div>

<div class="container">
  <h2>Books About Programming</h2>
  <ul class="cards">
    <li class="card" *ngFor="let item of dataSource1">
      <div>
        <h3 class="card-title">{{item.title}}</h3>
        <div class="card-content">
          <p>{{item.description}}</p>
        </div>
      </div>
      <div class="card-link-wrapper">
        <a href="" class="card-link">Learn More</a>
      </div>
    </li>
  </ul>
</div>
