<h3>REGISTER</h3>

<div *ngIf="isSignupFailed" class="feedback">
  <mat-icon class="icon">error</mat-icon>
  <p class="message">{{this.errorMessage}}</p>
</div>

<form class="mat-typography" [formGroup]="registerForm" (ngSubmit)="onSubmit()">

  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Email</mat-label>
    <input type="email" matInput formControlName="emailFormControl" [errorStateMatcher]="matcher"
           placeholder="name@example.com">
    <mat-error *ngIf="f.emailFormControl.hasError('required')">
      Email is a <strong>required</strong> field
    </mat-error>
    <mat-error *ngIf="f.emailFormControl.hasError('email') && !f.emailFormControl.hasError('required')">
      Please enter a valid email address
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Username</mat-label>
    <input type="text" matInput formControlName="usernameFormControl" [errorStateMatcher]="matcher"
           placeholder="Your nickname">
    <mat-error *ngIf="f.usernameFormControl.hasError('required')">
      Username is <strong>required</strong>
    </mat-error>
    <mat-error *ngIf="f.usernameFormControl.hasError('minlength') && !f.usernameFormControl.hasError('required')">
      Username must be at least <strong>4 characters </strong> long
    </mat-error>
    <mat-error *ngIf="f.usernameFormControl.hasError('maxlength') && !f.usernameFormControl.hasError('required')">
      Username must be less than <strong>20 characters </strong> long
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Password</mat-label>
    <input type="password" matInput formControlName="passwordFormControl" [errorStateMatcher]="matcher"
           placeholder="Your password" [type]="hidePassword ? 'password' : 'text'">
    <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hidePassword">
      <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="f.passwordFormControl.hasError('required')">
      Password is <strong>required</strong>
    </mat-error>
    <mat-error *ngIf="f.passwordFormControl.hasError('minlength') && !f.passwordFormControl.hasError('required')">
      Password must be at least <strong>8 characters</strong> long
    </mat-error>
    <mat-error *ngIf="f.passwordFormControl.hasError('pattern') && !f.passwordFormControl.hasError('minlength')">
      Password must contain letters, numbers, and (optional) special characters
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="outline">
    <input matInput formControlName="birthdateFormControl" [matDatepicker]="picker" placeholder="Select your birthday">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker startView="year" [startAt]="2023"></mat-datepicker>
  </mat-form-field>

  <table class="example-full-width">
    <tr>
      <td>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>First name</mat-label>
          <input matInput formControlName="firstnameFormControl">
        </mat-form-field>
      </td>

      <td>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Last name</mat-label>
          <input matInput formControlName="lastnameFormControl">
        </mat-form-field>
      </td>
    </tr>
  </table>

  <table class="example-full-width">
    <tr>
      <td>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Select your country</mat-label>
          <mat-select formControlName="countryFormControl">
            <mat-option *ngFor="let item of listCountries" [value]="item">{{item}}</mat-option>
          </mat-select>
        </mat-form-field>
      </td>

      <td>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Preferred language</mat-label>
          <mat-select formControlName="prefLangFormControl">
            <mat-option *ngFor="let item of listLanguages" [value]="item">{{item.lang}}</mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </tr>
  </table>

  <div>
    <button mat-flat-button color="accent" [disabled]="loading" class="btn register">CONTINUE</button>
    <a mat-button routerLink="../login" class="btn login">Already have an account? Login here!</a>
  </div>

</form>
