.card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card {
  margin: 0 8px 16px;
  border-radius: 30px;
  padding: 16px;
  height: 60px;
  width: 260px;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  font-size: 16px;
}

@media only screen and (max-width:600px) {
  .card-container {
    flex-direction: column;
    justify-content: stretch;
  }
  .card {
    width: 100%;
  }
}
